
numpy
pandas
scikit-learn
matplotlib
seaborn
scipy
pandas-profiling
geopandas
rasterio
shapely
folium
contextily
earthpy
scikit-image
tqdm
tensorflow
xarray
netCDF4
cfgrib
h5py
cdsapi
eofs
plotly
streamlit
altair
xgboost
lightgbm
catboost
joblib
feature-engine
nltk
spacy
transformers
sentence-transformers
beautifulsoup4
newspaper3k
textblob
textacy

requests
aiohttp
tqdm
python-dotenv
pyyaml
loguru
boto3
flask
pytest

prophet
statsmodels
